body {
    background:#153060;
}
header {
    background: #1d232f;
    width: 100%;
    height: 150px;
}

header .principal {
    float: left;
    height: 150px;
    width: 70%;
}

.principal #prin {
    float: left;
    width: 20%;
    height: 150px;
}

header .opciones {
    float: left;
    width: 30%;
}

.opciones #men {
    width: 15%;
    float: left;
    height: 80px;
    border: black solid;
    border-radius: 100%;
    margin: 10px;
}

.opciones #men2 {
    width: 15%;
    float: left;
    height: 80px;
    border: black solid;
    border-radius: 100%;
    margin: 10px;
}
hr {
    height: 10px;
    background-color: #0e8e9b;
}
h1 {
    text-align: center;
}
section {
    float: none;
    background-color: #326c83;
}

section #informacion {
    background-color: #4a4a4a;
}