body {
    background:#153060;
}
header {
    background-color: #1d232f;
    width: 100%;
    height: 150px;
}

header .principal {
    float: left;
    height: 150px;
    width: 70%;
}

.principal #prin {
    float: left;
    width: 20%;
    height: 150px;
}

header .opciones {
    float: left;
    width: 30%;
}

.opciones #men {
    width: 15%;
    float: left;
    height: 80px;
    border: black solid;
    border-radius: 100%;
    margin: 10px;
}

.opciones #men2 {
    width: 15%;
    float: left;
    height: 80px;
    border: black solid;
    border-radius: 100%;
    margin: 10px;
}

hr {
    height: 10px;
    background-color: #0e8e9b;
}

h2 {
    float: right;
    width: 75%;
    background-color: white;
    text-align: center;
}

table {
    margin-top: 20px;
    float: none;
    width: 100%;
    border: 2px solid white;
}
table th {
    padding: 0.9em;
    color: white;
    background: #393939;
    border: 2px solid #393939;
    font-size: 18px;
 }
table tr {
    color: #a3a3a3;
    background: #222222;
    border: 2px solid #393939;
    
}

table td {
    padding: 0.8em;
}
