body {
    background:#153060;
}
header {
    background: #1d232f;
    width: 100%;
    height: 150px;
}

header .principal {
    float: left;
    height: 150px;
    width: 70%;
}

.principal #prin {
    float: left;
    width: 20%;
    height: 150px;
}

header .opciones {
    float: left;
    width: 30%;
}

.opciones #men {
    width: 15%;
    float: left;
    height: 80px;
    border: black solid;
    border-radius: 100%;
    margin: 10px;
}

.opciones #men2 {
    width: 15%;
    float: left;
    height: 80px;
    border: black solid;
    border-radius: 100%;
    margin: 10px;
}

h1 {
    float: right;
    width: 75%;
    background-color: white;
    text-align: center;
}

.table_container {
    clear: both;
    overflow: auto;
    min-width: 300px;
    height: 600px;
}

.table_content{
    width: 90%;
    padding: 5px 20px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    border-collapse: collapse;
    margin: 10px auto; 
}

.table_content th{
    background-color: #888;
    color: white;
    padding: 10px;
    position: sticky;
    top:0;
}

.table_content thead{
    border-radius: 10px;
}

.table_content tr{
    background-color: rgb(250, 250, 250);
}

.table_content tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table_content .no_backgorund{
    background-color: transparent;
}

.table_content td{
    padding: 5px;
}

tr .th_v{
    text-align: right;
    background-color: #ddd;
    width: 20%;
    color: #000;
}